*{padding:0;margin:0;border:0;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
a,a:visited,a:hover {text-decoration: none; color: #202020;}
ul li {list-style: none;}
/*--------------------*/

body {
    font-family: Inter, sans-serif;
    background-color: #c3e57e;
}


.wrapper {
	min-height: 100%;
	overflow: hidden;
	max-width: 1440px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
}


.nav__ul__row {
	display: flex;
	justify-content:space-between;
	align-items: center;
	background-color: #FFF;
}
.nav__li__a, .footer_support {
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	color: #202020;
}
.nav__li__a {
	padding: 24px 48px;
}

.first__block__row {
	background-color: #FFF; 
  display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}
.first__block__column {
	width: 666px;
}
.first__block__leftcolumn {
	display: flex;
	flex-direction: column;
	gap: 36px;
	width: 550px;
	padding: 0px 116px;
	letter-spacing: 0em;
}
.first__block__title{
	font-size: 61px;
	font-weight: 700;
	line-height: 73px;
	text-align: left;
}
.first__block__subtitle {
	font-size: 25px;
	font-weight: 600;
	line-height: 30px;
	text-align: left;
	color: #5F5F5F;
}


.block__buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.button__1, .button__2{
	width: 267px;
	height: 77px;
	border: 3px solid #202020;
	border-radius: 8px;
	background-color:	#FFF;
	cursor: pointer;
	font-size: 24px;
	font-weight: 600;
	line-height: 29px;
	color: #000;
	transition-duration: 0.4s;
}
.button__1:hover, .button__2:hover {
	background-color:	#000AFF;
	color: #FFF; 	
}

.block__logo {
	background-color: #EEEEEE;
	display: flex;
	min-height: 222px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 48px;
}
.logo__h5 {
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
}
.logo__column {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 104px;
}


h2 {
	font-size: 49px;
	font-style: normal;
	font-weight: 700;
	line-height: 59px;
}
h4, a, .nine__block__subtitle{
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 30px;
		color: #5F5F5F;
		text-align: left;
}



.third__block, .five__block, .six__block, .seven__block, .eight__block{
	background-color: #fff;
	display: flex;
	flex-direction: column;
	gap: 48px;
	padding: 132px 48px;	
	text-align: center;
}
.third__block__row, .five__block__row, .six__block__row, .seven__block__row, .eight__block__row, .nine__block__row{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.third__block__column, .five__block__column, .six__block__column, .seven__block__column{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 321px;
}

.four__block, .nine__block, .eleven__block{
	display: flex;
	flex-direction: column;
	background-color: #EEEEEE;
	text-align: center;
	padding: 132px 164px;
	gap: 48px;
}
.four__block__row{
	display: flex;
	justify-content: space-between;
}
.four__block__steps, .seven__block__steps{
	font-size: 31px;
	font-weight: 600;
	line-height: 37px;
	letter-spacing: 0em;
	text-align: left;
	color: #000;
}
.four__block__leftcolumn {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 546px;
	gap: 36px;
}


.five__block__column, .six__block__column, .seven__block__column{
	gap: 32px;
	align-items: baseline;
}


.comment{
	display: flex;
	flex-direction: row;
	gap: 24px;
}
.image__icon {
	width: 85px;
}
.comment__details {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	color:#5F5F5F;
	text-align: left;	
	font-style: normal;
}
.comment__name{
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
}
.comment__job{
	font-size: 13px;
	font-weight: 700;
	line-height: 16px;
}
.comment__company{
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
}


.six__block, .eight__block {
	background-color: #EEEEEE;
}


.eight__block__column {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
  background-color: #fff;
  border: 5px solid #ccc;
  height: 580px;
  width: 365px;
  border-radius: 25px;
}
.eight__block__column:hover {
  border: 5px solid #000AFF;
}
.eight__block__card, .eight__block__text{
	width: 293px;
	color: #5F5F5F;
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	line-height: 30px;
}
.eight__block__priceNum{
	color: #000;
	font-size: 61px;
	font-style: normal;
	font-weight: 700;
	line-height: 73px;
}
.eight__block__price__li {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-size: 13px;
	color: #000;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	gap: 16px;
}
.button__price {
	width: 293px;
	height: 84px;
	transition-duration: 0.4ms;
	border-radius: 8px;
	background: #000AFF;
	color: #FFF;
	cursor: pointer;
	font-size: 24px;
	font-weight: 600;
	line-height: 36px;
}
.button__price:hover {
	background: #FFF;
	color: #000AFF;
	border: 5px solid #000AFF;
}


.nine__block {
	background-color: #fff;
	gap: 0;
}
.nine__block__column {
	display: flex;
	flex-direction: column;
	width: 546px;
	justify-content: center;
	align-items: center;
}
.nine__block__subtitle{
	color: #000;
}


.ten__block {
	display: flex;
	flex-direction: column;
	background-color: #0019FF;
	color: #FFF;
	padding: 132px 48px;
	gap: 48px;
	text-align: center;
}
.ten__block__row{
	display: flex;
	justify-content: space-evenly;
	gap: 48px;
}
.ten__block__column {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.ten__block__numbers {
	font-size: 39px;
	font-weight: 600;
	line-height: 47px;
	letter-spacing: 0em;
}
.ten__block__numbers_p {
	font-size: 60px;
	font-weight: 700;
	line-height: 72px;
	letter-spacing: 0em;
	text-align: center;
}
.ten__block__numbers_p2 {
	color: #D9D9D9;
	font-size: 24px;
	font-weight: 600;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: center;
}

.eleven__block {
	align-items: center;
	background-color: #FFF;

	font-size: 39px;
	font-weight: 600;
	line-height: 47px;
}
.eleven__block__column {
	display: flex;
	flex-direction: column;
	gap: 36px;
	text-align: left;
	font-size: 25px;
  font-weight: 600;
  line-height: 30px;
}
.eleven__minus__faq {
	font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}




.footer__row{
	display: flex;
	height: 65px;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	padding: 24px 48px;
}
/* .footer_support {
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	color: #202020;
} */
